<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Let's exercise!</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="css/styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <img src="css/img/telephone.png" alt="tel" width="17px" height="17px" />
        <div class="txt">&nbsp;&nbsp;+012 3456 7890</div>
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <img src="css/img/email.png" alt="tel" width="17px" height="17px" />
        <div class="txt">&nbsp;&nbsp;sumpreme1_1@naver.com</div>
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <img src="css/img/time.png" alt="tel" width="16px" height="16px" />
        <div class="txt">&nbsp;&nbsp;Mon - Fri : 09 AM - 06 PM</div>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="/"><img src="css/img/logo.png" alt="logo"
        class="navbar-brand d-flex align-items-center"></a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
        <a href="/notice" class="nav-item nav-link active">Notice</a>
        <a href="/effects" class="nav-item nav-link">Effects</a>
        <a href="/roulette" class="nav-item nav-link">Roulette</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Community</a>
          <div class="dropdown-menu bg-light border-0 m-0">
            <a href="/freeboard" class="dropdown-item">Free Board</a>
            <a href="/promise" class="dropdown-item">Promise</a>
            <a href="/tip" class="dropdown-item">Tip Board</a>
          </div>
        </div>
        <a href="/join" class="nav-item nav-link"><img src="css/img/lock.png" width="20px" height="20px"
            style="margin: 3px">Sign up</a>
        <a href="/login" class="nav-item nav-link"><img src="css/img/login.png" width="21px" height="21px"
            style="margin: 3px">My page</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s"
    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="container py-5">
      <h1 class="display-4  slideInDown mb-4">Effects</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item" style="font-weight: 600;"><a href="index">Home</a></li>
          <li class="breadcrumb-item active" style="font-weight: 600;" aria-current="page">Effects</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden rounded ps-5 pt-5 h-100" style="min-height: 400px">
            <img class="position-absolute w-100 h-100" src="css/img/exercise03.png" alt=""
              style="object-fit: cover" />
            <div class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3" style="width: 200px; height: 200px">
              <div class="d-flex flex-column justify-content-center text-center bg-dark rounded h-100 p-3">
                <h1 class="text-white mb-0" style="font-family: Stencil">Step</h1>
                <h2 class="text-white" style="font-family: Stencil">1</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <br>
          <div class="h-100">
            <h1 class="display-6 mb-5">
              체력적인 효과를 준다
            </h1>
            <p class="fs-5 text-dark mb-4">
              신체 각 부위의 주요 근육이 발달되어 근육 내 모세혈관의 밀도가 늘어나고, 심장의 용량 및 크기가 증가할 뿐 아니라 폐의 기능인 폐활량도 증가한다.
            </p>
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 me-3" src="css/img/fitness.png" alt="" />
                <h5 class="mb-0">Physical Effects</h5>
              </div>
            </div>
            <p class="mb-4">
              특히 팔이나 다리 등 일부 신체 부위는 일상생활에서 많이 사용되기 때문에 생활을 통하여 그 기능이 어느 정도 유지되지만,
              사용하지 않은 부위는 근육이 위축되고 기능도 감소되기 때문에 규칙적 운동을 통해 그 기능을 발달시켜야 한다.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <br>
          <div class="h-100">
            <h1 class="display-6 mb-5">
              심리적인 효과를 준다
            </h1>
            <p class="fs-5 text-dark mb-4">
              인간의 공격 본능과 부정적 사고를 해소시키는 데 효과가 있다.
              적절한 양의 운동수행은 인간에게 내재된 공격적 본능과 외부환경으로부터 오는 스트레스를
              해소시키는 능력을 향상시켜 마음이 편안해지는 것을 느낄 수 있다.
            </p>
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 me-3" src="css/img/meditation.png" alt="" />
                <h5 class="mb-0">Psychological Effects</h5>
              </div>
            </div>
            <p class="mb-4">
              그리고 운동은 일상생활 속에서 자신감을 갖게 하여 대인관계도 원만하게 해주는 효과가 있다.
              또한 매사에 능동적이고 긍정적 사고를 갖게 하며, 근육의 긴장 상태를 적절하게 이완시켜
              마음을 편안하게 해주는 이완 효과도 있다.
            </p>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden rounded ps-5 pt-5 h-100" style="min-height: 400px">
            <img class="position-absolute w-100 h-100" src="css/img/exercise04.png" alt=""
              style="object-fit: cover" />
            <div class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3" style="width: 200px; height: 200px">
              <div class="d-flex flex-column justify-content-center text-center bg-dark rounded h-100 p-3">
                <h1 class="text-white mb-0" style="font-family: Stencil">Step</h1>
                <h2 class="text-white" style="font-family: Stencil">2</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden rounded ps-5 pt-5 h-100" style="min-height: 400px">
            <img class="position-absolute w-100 h-100" src="css/img/exercise05.png" alt=""
              style="object-fit: cover" />
            <div class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3" style="width: 200px; height: 200px">
              <div class="d-flex flex-column justify-content-center text-center bg-dark rounded h-100 p-3">
                <h1 class="text-white mb-0" style="font-family: Stencil">Step</h1>
                <h2 class="text-white" style="font-family: Stencil">3</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <br>
          <div class="h-100">
            <h1 class="display-6 mb-5">
              면역적인 효과를 준다
            </h1>
            <p class="fs-5 text-dark mb-4">
              규칙적 운동은 질병과 외부의 임상 자극에 대한 면역반응에 긍정적 영향을 준다고 보고되었다.
              적당한 운동은 면역에 관련된 세포수를 증가시키고, 자체의 기능을 향상시키는 효과도 있다.
            </p>
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 me-3" src="css/img/immunity.png" alt="" />
                <h5 class="mb-0">Immunity Effects</h5>
              </div>
            </div>
            <p class="mb-4">
              또한 힘든 생활에서 비롯되는 피로에 대한 내성 능력을 향상시킨다.
              그리고 간염 등과 같은 각종 병원체를 이길 수 있는 저항 능력 향상에도 도움을 준다.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <footer class="py-5 bg-dark">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h1 class="text-white mb-4" style="font-family: Stencil">
            <img class="img-fluid me-3" src="css/img/running.png" alt="" />
            Let's exercise!
          </h1>
          <p class="footer-txt">
            연구로 밝혀진 운동의 다양한 좋은 효과 때문에 운동을
            <strong>'기적의 약'</strong>이라고 부르기도 한다.
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Address</h5>
          <p class="text-white mb-4">
            <img src="css/img/marker.png" alt="tel" width="19px" height="19px" />
            <span class="footer-txt">&nbsp;&nbsp;서울특별시 구로구 경인로 557 신한은행 4층</span>
          </p>
          <p>
            <img src="css/img/telephone.png" alt="tel" width="17px" height="17px" />
            <span class="footer-txt">&nbsp;&nbsp;+012 3456 7890</span>
          </p>
          <p>
            <img src="css/img/email.png" alt="tel" width="17px" height="17px" />
            <span class="footer-txt">&nbsp;&nbsp;supreme1_1@naver.com</span>
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Quick Links</h5>
          <a class="btnbtn-link" href="/notice"><img src="css/img/next.png" alt="next" width="13px"
              height="13px">&nbsp;&nbsp;Notice</a>
          <a class="btnbtn-link" href="/effects"><img src="css/img/next.png" alt="next" width="13px"
              height="13px">&nbsp;&nbsp;Effects</a>
          <a class="btnbtn-link" href="/roulette"><img src="css/img/next.png" alt="next" width="13px"
              height="13px">&nbsp;&nbsp;Roulette</a>
          <a class="btnbtn-link" href="/freeboard"><img src="css/img/next.png" alt="next" width="13px"
              height="13px">&nbsp;&nbsp;Community</a>
        </div>
      </div>
  </footer>
</body>

</html>