<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Let's exercise!</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="css/styles-login.css" />
</head>

<body>
  <div class="home-logo">
    <a href="/">
      <img src="css/img/logo.png" style="margin-right: 30px" /></a>
  </div>
  <br />
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Login</h1>
        <span>귀하의 계정을 사용하세요!</span>
        <br>
        <input type="text" placeholder="아이디" />
        <input type="password" placeholder="비밀번호" />
        <br>
        <div class="login-btn">
          <button type="submit" class="login-btn-two">로그인</button>
          <button type="submit" class="login-btn-two">취소</button>
        </div>
      </form>
    </div>
    <div class="half-container">
      <div class="half">
        <div class="half-panel half-right">
          <h1>Hello, ACE!</h1>
          <p>함께 운동을 시작합시다!</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>