<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
	<div class="p-3 text-bg-dark">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 text-white">HOME</a></li>
				<li><a href="/store/items" class="nav-link px-2 text-white">상품목록</a></li>
				<li><a href="/store/items/add" class="nav-link px-2 text-white">상품등록</a></li>
			</ul>

			<form th:action="@{/store/items/search}" class="mb-3 mb-lg-0 me-lg-3">
				<div class="row">
					<div class="col-8">
						<input type="search" name="search" class="form-control form-control-dark text-bg-dark col-lg-auto " placeholder="상품명 입력..." aria-label="Search">
					</div>
					<div class="col-4">
						<button type="submit" class="btn btn-outline-light me-2">검색</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</header>
